git-lfs doesn't accept valid ISO-8601 date 

This was discovered against a custom LFS server, so for now there is no easy way to reproduce this.

```
$ git lfs --version
git-lfs/2.6.1 (GitHub; linux amd64; go 1.11.5)
$ git lfs lock .gitattributes
Lock failed: parsing time ""2019-05-20T15:51:24.303+0000"" as ""2006-01-02T15:04:05Z07:00"": cannot parse "+0000"" as "Z07:00"
```

According to [Wikipedia](https://en.wikipedia.org/wiki/ISO_8601#Time_offsets_from_UTC), this is a perfectly valid ISO-8601 date string.

Bug at least applies to `locked_at` field of LFS locks. Possibly other places where LFS spec talks about "ISO 8601 formatted timestamp" are also affected.

If understand things properly, this bug is caused by incomplete ISO-8601 support in Go: golang/go#31113

Yeah, this is probably a mistake in the documentation. ISO 8601 is enormously broad and specifies many variants we won't accept. (For example, durations are specified in ISO 8601, but those would be nonsensical here.) What it probably should say is “uppercase RFC 3339 formatted string with second precision”, not ”ISO 8601 formatted string”, since that's what we actually parse and allow.

I'd also provide a link to [section 5.6 of RFC 3339](https://tools.ietf.org/html/rfc3339#section-5.6). However, this is a "SHOULD" part of the RFC and conforming software is expected to accept whole ABNF described in [appendix A of RFC 3339](https://tools.ietf.org/html/rfc3339#appendix-A).

Linking this to FasterXML/jackson-databind#1786 because that was the root cause why my LFS server implementation output timezone without colon in the first place.

OK, agreed. So, on git-lfs side replacing references to ISO-8601 with references to RFC 3339 in protocol specifications should be enough.

using python library `arrow`, the iso8601 implementation is the only one that did not return parsing errors.
adding this comment for anyone who runs into the same issue.

```python
Python 3.11.6 (main, Nov 26 2023, 19:03:29) [Clang 15.0.0 (clang-1500.0.40.1)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>> import arrow
>>> arrow.__version__
'1.3.0'
>>> arrow.now().format(arrow.FORMAT_RFC3339)
'2023-12-02 01:14:55-08:00'
>>> arrow.now().isoformat()
'2023-12-02T01:15:23.367035-08:00'
```