Git LFS over HTTPS Blocked by Fortinet IPS due to Basic Authorization Overflow

**Git LFS over HTTPS Blocked by Fortinet IPS due to Basic Authorization Overflow**

After with upgraded GitLab from 17.1 to 17.2 all our repo using LFS were completely useless as we could not push or pull anymore any files over HTTPS. GitLab introduced pure SSH-based and probably upgraded git-lfs to 3.x
[Support the pure SSH-based LFS protocol for gitlab-shell](https://gitlab.com/groups/gitlab-org/-/epics/11872). The only workaround, we found was to upgrade git-lfs to 3.5.1 and enable "gitlab_shell['lfs_pure_ssh_protocol'] = true" in the GitLab Omnibus. We could not do git-lfs over HTTPS for a month until we discovered the root cause described bellow.

When we clone an LFS repo over HTTPS with git clone, /info/lfs/objects/batch returns a JSON (application/vnd.git-lfs+json) containing all LFS objects with a very long HTTP Basic Authorization token to download each of them but when git-lfs uses curl to fetch them, our IPS (Fortinet) block them and treat them as an overflow.

We're having problems with Git LFS (Large File Storage) over HTTPS, the git clone process is frozen / hang. The git-lfs process timout trying to retrieve each LFS object and enters a loop trying to retrieve the same object over and over again and gives up after a long time. The root cause of the problem is related to our Intrusion Prevention System (Fortinet IPS), which detects and blocks LFS Git requests due to a "too long HTTP authorization value". This occurs when the git LFS authentication token returned for all LFS blobs exceeds the HTTP Basic Authorization buffer limit, resulting in a critical alert from our IPS. The specific alert is categorized as an HTTP.Server.Authorization.Buffer.Overflow, which can be referenced in Fortinet's documentation [VID12351](https://www.fortinet.com/ids/VID12351).

IPS logs indicate that the authorization header is excessively long, causing requests to be dropped. This problem needs to be resolved so that Git LFS can function correctly without being blocked by the IPS.

**HTTP.Server.Authorization.Buffer.Overflow** from our IPS (Fortinet)
```
Aug 26 10:17:55 fortigate date=2024-08-26 time=09:17:55 type="utm" subtype="ips" eventtype="signature" level="alert" vd="root" severity="critical" action="dropped" proto=6 service="HTTPS" policyid=436 policytype="policy" attack="HTTP.Server.Authorization.Buffer.Overflow" srcport=40788 dstport=443 hostname="gitlab.example.com" url="/user/test-lfs.git/gitlab-lfs/objects/42aa061c50b9ba68dbabbc95d33eea2b72e76fa0280518488b6d5a05ba4b8f38" direction="outgoing" attackid=12351 profile="default" ref="http://www.fortinet.com/ids/VID12351" msg="web_server: HTTP.Server.Authorization.Buffer.Overflow" crscore=50 craction=4096 crlevel="critical"
```

**To Reproduce**

To replicate the issue, the following steps can be executed:

- Use a Fortinet Fortigate appliance with IPS activated in front of a GitLab 17.2+ (17.3 also)
- Try to clone or push any LFS objects from or to the git repo
```
export GIT_TRACE=1 GIT_TRANSFER_TRACE=1 GIT_CURL_VERBOSE=1
git clone https://gitlab.example.com/user/test-lfs.git
```

git clone get frozen / hang after trying to retrieve the first LFS 
https://gitlab.example.com/user/test-lfs.git/gitlab-lfs/objects/956dce4626b4....
because HTTP Header "Authorization: Basic" is too long:

```
GET /user/test-lfs.git/gitlab-lfs/objects/956dce4626b41cfcbc5a50ddeb56407ab99c4f217c52cfcd6c3e3549f8603e02 HTTP/1.1
Host: gitlab.example.com
Authorization: Basic YmXXXXXXJSktMTU5PUFFSU1RVVldYWVphYmNkZWZnaGlqa2xtbm9wcXJzdHV2d3h5ekFCQ0RFRkdISUpLTE1OT1BRUlNUVVZXWFlaYWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXpBQkNERUZHSElKS0xNTk9QUVJTVFVWV1hXXXXXXXXXXoaWprbG1ub3BxcnN0dXZ3eHl6QUJDREVGR0hJSktMTU5PUFFSU1RVVldYWVphYmNkXXXXXXXXXX3h5ekFCQ0RFRkdISUpLTE1OT1BRUlNUVVZXWFlaYWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXpBQkNERUZHSElKS0xNTk9QUVJTVFVWV1hZWmFiY2RlZmdoaWprbG1ub3BxcnN0dXZ3eHl6
User-Agent: git-lfs/3.5.1 (GitHub; linux amd64; go 1.21.8)
```

The header.Authorization returned by gitlab-lfs/objects is too long for our IPS (Fortinet)

``` json
{"objects":[{"oid":"956dce4626b41cfcbc5a50ddeb56407ab99c4f217c52cfcd6c3e3549f8603e02","size":57053,"actions":{"download":{"href":"https://gitlab.example.com/user/test-lfs.git/gitlab-lfs/objects/956dce4626b41cfcbc5a50ddeb56407ab99c4f217c52cfcd6c3e3549f8603e02","header":{"Authorization":"Basic YmXXXXXXJSktMTU5PUFFSU1RVVldYWVphYmNkZWZnaGlqa2xtbm9wcXJzdHV2d3h5ekFCQ0RFRkdISUpLTE1OT1BRUlNUVVZXWFlaYWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXpBQkNERUZHSElKS0xNTk9QUVJTVFVWV1hXXXXXXXXXXoaWprbG1ub3BxcnN0dXZ3eHl6QUJDREVGR0hJSktMTU5PUFFSU1RVVldYWVphYmNkXXXXXXXXXX3h5ekFCQ0RFRkdISUpLTE1OT1BRUlNUVVZXWFlaYWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXpBQkNERUZHSElKS0xNTk9QUVJTVFVWV1hZWmFiY2RlZmdoaWprbG1ub3BxcnN0dXZ3eHl6"}}}}]}
```

**Expected behavior**

Reuse the same credential provided to git clone for non-LFS files (credential.helper cache ?) or use shorter HTTP Basic Authorization Token for LFS objects!!! Currently, git clone asks for the credential twice, once for non-LFS files and once for git-lfs, but it doesn't use the identifier to retrieve the LFS object itself, only to POST to /gitlab-lfs/objects and get the JSON with very long authorization tokens.

**System environment**
Git: GitLab 17.3.1, GitLab Runner CI/CD with Docker
Network: Fortinet Fortigate IPS


I'll let one of the core team members chime in with their thoughts as well, but I'll just mention that the credentials here come from the server side; that is, GitLab.  The Git LFS client doesn't really have any choice in how big the credentials are, since it just passes them back from the batch endpoint, so you'd have to address this with GitLab and see if they'd be willing to change this.  It appears to be simply a false positive and not an actual attack, so they may or may not want to do that.

However, there's really nothing that the client can do to change this in any way.  The server side can decide to reuse the same authentication token for objects or to pass a different one in the protocol; both are supported.  In this case, GitLab has decided to do the latter, which is allowed by the protocol because the objects can be stored on a completely different server, such as cloud bucket, where regular authentication wouldn't work.  You can see [more of the protocol docs here](https://github.com/git-lfs/git-lfs/tree/main/docs/api).

I'm assuming your IPS, though, does TLS man-in-the-middle decryption of traffic.  It is known that many such devices, including apparently your IPS, are known to break Git and Git LFS, and [the FAQ has an entry on them](https://github.com/git-lfs/git-lfs/blob/main/docs/man/git-lfs-faq.adoc#faq-proxy):

> Note that, just like with Git, proxies must not modify, buffer, tamper with, or change the response to the data in any way, upstream or downstream, and any proxy which does so will break things and is not supported. The Git LFS developers don’t recommend any sort of proxy, including any sort of antivirus, firewall, or monitoring software, which performs TLS interception because these are known to cause breakage and in general have been shown to worsen security.

It appears your IPS is doing exactly what's not allowed.

For comparison, the [Git FAQ also has similar text](https://git-scm.com/docs/gitfaq#proxy).

You could try disabling that alert on your IPS and see if that solves the instant problem, but the long-term solution is probably to avoid TLS MITM devices altogether.

As usual, @bk2204 has provided a comprehensive reply, and I don't have much to add to it, other than to say that you may also want to contact GitLab's Support team to discuss whether they can shorten their authorization headers.  As this project is just for the open-source Git LFS client, there's really nothing we can do to help here; the client has to use the authorization information it's sent by the server.

As such, I'll probably close this issue in a bit, assuming there's no further assistance we can provide.  Let us know how things go with GitLab, though, if you decide to reach out to them!

Thanks to both of you for your comments. I will contact GitLab about the excessive length of the Basic Authorization token and propose to create a specific config setting in GitLab's gitlab.rb to toggle between providing a long token in the batch endpoint (/info/lfs/objects/batch) and the option to reuse the initial git authentication credential also for LFS objects.

For our part, we've modified our Fortinet configuration for GitLab as an IDS instead of an IPS. We still need it in front of GitLab (MitM) as it provides a trusted SSL certificate (within our network, we use our own CA) and our GitLab instance has only private IP.

Perhaps you can still improve the client side of git-lfs in several ways:

(1) Implement the env option or variable in git-lfs or git config to force reuse of the git credential and bypass the one provided in /info/lfs/objects/batch. In our case, this worked because we modified the Go code of git-lfs as PoC (we hard-coded the alternative identifier and ignore the one provided in the JSON) to verify that our problem had something to do with the token provided by GitLab in the header ":{"Authorization" : later we discovered it was IPS / Firewall related issue blocking every single /gitlab-lfs/objects/ request due to possible overflow in Authorization: Basic.

(2) Don't anonymize "Authorization: Basic * * * *" (as displayed in plain text in the JSON before it makes no sense to anonymize it anyway) or at least replace each character with X or * so that it preserves its length. I couldn't find the root case because it was anonymized while using export GIT_TRACE=1 GIT_TRANSFER_TRACE=1 GIT_CURL_VERBOSE=1. 

"Authorization: Basic * * * * *" is useless for debugging and doesn't preserve the length of the original string
and the same "secret" is plain in the JSON << "header":{"Authorization" : "Basic >> anyway. It make the git-lfs client debugging process more complicated.

```
> POST /user/test-lfs.git/info/lfs/objects/batch HTTP/1.1
> Host: gitlab.example.com
> Accept: application/vnd.git-lfs+json
> Authorization: Basic * * * * *
> Content-Length: 404
> Content-Type: application/vnd.git-lfs+json; charset=utf-8
> User-Agent: git-lfs/3.5.1 (GitHub; linux amd64; go 1.21.8)
> 
{"operation":"download","objects":[{"oid":" ... 
...
< HTTP/2.0 200 OK
< Content-Length: 2095
< Content-Type: application/vnd.git-lfs+json; charset=utf-8
< Date: Fri, 30 Aug 2024 06:51:34 GMT
< Etag: W/"38797781bcad0e516b81581fec5c7898"
< Page-Title: GitLab
< ...
08:51:34.593079 trace git-lfs: creds: git credential approve ("https", "gitlab.example.com", "")
08:51:34.593155 trace git-lfs: exec: git 'credential' 'approve'
08:51:34.596336 trace git-lfs: HTTP: {"objects":[{"oid":".../user/test-lfs.git/gitlab-lfs/objects/956dce4626b41cfcbc5a50ddeb56407ab99c4f217c52cfcd6c3e3549f8603e02","header":{"Authorization":"Basic XXXXXXXXXXXXXXXXXXXXXXX...}}}}]}
...
> GET /user/test-lfs.git/gitlab-lfs/objects/beb888cf483455dfabb9f2df2ea8fe7d1133fcb107f0a5499055bf6075d04728 HTTP/1.1
> Host: gitlab.example.com
08:51:34.695730 trace git-lfs: xfer: adapter "basic" worker 7 auth signal received
> Authorization: Basic * * * * *
> User-Agent: git-lfs/3.5.1 (GitHub; linux amd64; go 1.21.8)
```

I'm glad you've found a solution and that you'll touch base with GitLab as well.

Regarding your two suggestions:

> Implement a special env variable or an argument in git-lfs or git config to force reuse of the git credential or specify one explicitly

I'd be willing to consider a PR which enabled this kind of functionality, perhaps via an environment variable, but it's probably not something we'll prioritize in our backlog, mainly because it strikes me that this is the kind of option which could lead to more confusion rather than less.

I would want to avoid people finding this option in our `git-lfs-config(5)` manual page while trying to fix an authorization issue (which are not uncommon and have many varied causes), adding it into their configuration or environment in the hope that it helps, and thus creating more problems for themselves because they're now overriding what the Batch API is providing as authorization headers.  So any PR would need to include well-written, explicit documentation of how and when to use the feature, probably noting that it should not be used except for debugging purposes.

> Don't anonymize `Authorization: Basic * * * *` (as displayed in plain text in the JSON before so it makes no sense to anonymize it anyway) or at least replace each character with X or * so that it preserves its length

To be honest, I have a different take on this, which is that if we're not anonymizing `Authorization` headers in the Batch API JSON strings when writing trace logs, that's a bug, and we should anonymize them too.  I've opened #5857 to capture this problem.

I'm disinclined to indicate the length of the authorization string, as the point of this feature is to avoid people leaking information in the trace logs they send us or others.  However, if someone wanted to offer a PR to change that, we could discuss it further there.

Without the lack of anonymization in JSON, I'd still be solving this problem with Git LFS and GitLab. The unusual length of the token (408 bytes, i.e. three lines) alerted me to the fact that this could be the problem. I tried cloning git directly on the GitLab server, which was successful, so I suspected a network problem. Looking at the detailed logs from our Fortinet, I realized that the problem was indeed network-related in our IPS. 

I completely understand your point about fixing and hiding this problem, but it might be beneficial to introduce a debugging level into git-lfs via an additional environment variable, such as GIT_DEBUG_LEVEL. This variable could set a threshold for accessing the raw JSON and HTTP authorization header as displayed. Alternatively, you could implement a specific environment variable such as GIT_UNLEASH_ALL_SECRETS to achieve this goal.

Alternatively, if you don't recommend to use MitM to record traffic, how could people check whether the git LFS implementation rejects the token or timeout when trying to use it as it did for us?

Git itself has `GIT_TRACE_REDACT=0` to deanonymize the requests; maybe Git LFS could use that as well (it may already, but I didn't check).

As for a 256-character limit, I'm not sure that's a good idea.  Most secure server implementations have a size limit on total headers (Go's is by default 1 MiB), or a larger limit on each header (I've seen complaints that 1 KiB was not large enough, but 4 KiB was) plus a limit on total number of headers.  I'm pretty sure things would break if Git LFS imposed such a limit.  RFC 7230 § 2.5 says this:

> When a received protocol element is parsed, the recipient MUST be able to parse any value of reasonable length that is applicable to the recipient's role and that matches the grammar defined by the corresponding ABNF rules.

I'm not sure that a length of 408 characters in 2024 is an unreasonable length.  In any event, it would be a backwards-incompatible change which could only be done in 4.0.

As I said, if someone wants to put together a patch to add a "de-anonymizing" option, and opens a PR with some tests and documentation, we can certainly discuss the pros and cons of their proposed approach in that PR.

> Alternatively, if you don't recommend to use MitM to record traffic

To be clear, our [guidance](https://github.com/git-lfs/git-lfs/blob/fc61febe9cc2d9ddc6ffe3e8d1ae546512632552/docs/man/git-lfs-faq.adoc#configuration about proxies is not meant to discourage the use of a well-behaved tool like a passive packet sniffer.

I do see that if one has a proxy of some sort and it's ill-behaved and not logging the reasons why it's modifying specific network traffic, knowing what is sent and received and either end of the connection is valuable.  However, our own trace logs are regularly uploaded by users reporting problems (in fact, we often ask for them), hence the importance of ensuring they don't contain private authorization data.  So those two things are in conflict to some degree.

Again, I'm happy to discuss options further in a PR, if anyone cares to open one.



I wonder how many companies care enough about security to set up an IPS or WAF in front of a public Git server instance with Git LFS support. This issue only affected us because of the increased authorization token length implemented by GitLab as a workaround for CVE-2024-3035 when they were able to add the [project scope](https://gitlab.com/gitlab-org/gitlab/-/commit/de2022b4a5ee5a708454626bcadce1c50467c812) in alternative HTTP headers starting with X-GitLab-.

For me it's also a lack of precision about the maximum token length in the specifications combined with multiple overflows continuously on the HTTP Authorization header that should push to define a token limit in Git LFS in adequation with the IPS and WAF protections commonly used in the market (Snort is a Cisco product also used in pfSense).